___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid" alt="CLRSWY"></p>

___

<h1><p style="text-align: center;">Data Analysis with Python <br>Project - 1</p><h1> - Traffic Police Stops <img src="https://docs.google.com/uc?id=17CPCwi3_VvzcS87TOsh4_U8eExOhL6Ki" class="img-fluid" alt="CLRSWY" width="200" height="100">

Does the ``gender`` of a driver have an impact on police behavior during a traffic stop? **In this chapter**, you will explore that question while practicing filtering, grouping, method chaining, Boolean math, string methods, and more!

***

## Examining traffic violations

Before comparing the violations being committed by each gender, you should examine the ``violations`` committed by all drivers to get a baseline understanding of the data.

In this exercise, you'll count the unique values in the ``violation`` column, and then separately express those counts as proportions.

> Before starting your work in this section **repeat the steps which you did in the previos chapter for preparing the data.** Continue to this chapter based on where you were in the end of the previous chapter.

In [44]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [45]:
ri=pd.read_csv("RI_cleaned.csv")

In [46]:
ri.head()

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,NaN,NaN,NaN,600,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,RI-2005-00002,RI,2005-01-02,20:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2,RI-2005-00003,RI,2005-01-04,11:30,Zone X1,NaN,NaN,NaN,0,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone X1
3,RI-2005-00004,RI,2005-01-04,12:55,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
4,RI-2005-00005,RI,2005-01-06,01:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4

In [47]:
ri.drop(["county_name","state"], axis=1, inplace=True)

In [48]:
ri

,id,stop_date,stop_time,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,2005-01-02,01:55,Zone K1,NaN,NaN,600,M,1985.0,20.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,RI-2005-00002,2005-01-02,20:30,Zone X4,NaN,NaN,500,M,1987.0,18.0,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2,RI-2005-00003,2005-01-04,11:30,Zone X1,NaN,NaN,0,NaN,NaN,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone X1
3,RI-2005-00004,2005-01-04,12:55,Zone X4,NaN,NaN,500,M,1986.0,19.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
4,RI-2005-00005,2005-01-06,01:30,Zone X4,NaN,NaN,500,M,1978.0,27.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509676,RI-NA-06,NaN,NaN,Zone NA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone NA
509677,RI-NA-07,NaN,NaN,Zone NA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone NA
509678,RI-NA-08,NaN,NaN,Zone NA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone NA
509679,RI-NA-09,NaN,NaN,Zone NA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone NA
509680,RI-NA-10,NaN,NaN,Zone NA,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone NA

In [49]:
ri.dropna(subset=['driver_gender'],inplace=True)

In [50]:
ri.isnull().sum()

id                            0
stop_date                     0
stop_time                     0
location_raw                  0
county_fips              480584
fine_grained_location    480584
police_department             0
driver_gender                 0
driver_age_raw                1
driver_age                 1638
driver_race_raw               0
driver_race                   0
violation_raw                 0
violation                     0
search_conducted              0
search_type_raw          462822
search_type              462822
contraband_found              0
stop_outcome                  0
is_arrested                   0
stop_duration                 0
out_of_state                808
drugs_related_stop            0
district                      0
dtype: int64

In [51]:
ri.shape

(480584, 24)

In [52]:
ri["is_arrested"]=ri["is_arrested"].astype('bool')

In [53]:
ri.is_arrested.dtype

dtype('bool')

In [54]:
ri.dtypes

id                        object
stop_date                 object
stop_time                 object
location_raw              object
county_fips              float64
fine_grained_location    float64
police_department         object
driver_gender             object
driver_age_raw           float64
driver_age               float64
driver_race_raw           object
driver_race               object
violation_raw             object
violation                 object
search_conducted          object
search_type_raw           object
search_type               object
contraband_found            bool
stop_outcome              object
is_arrested                 bool
stop_duration             object
out_of_state              object
drugs_related_stop          bool
district                  object
dtype: object

In [55]:
combined=ri["stop_date"].str.cat(ri["stop_time"], sep=" ")

In [56]:
ri['stop_datetime'] = pd.to_datetime(combined)

#ri.astype({"stop_datetime":'datetime64'}).dtypes

In [57]:
#ri['stop_datetime']=ri['stop_datetime'].astype('datetime64')

ri.dtypes

id                               object
stop_date                        object
stop_time                        object
location_raw                     object
county_fips                     float64
fine_grained_location           float64
police_department                object
driver_gender                    object
driver_age_raw                  float64
driver_age                      float64
driver_race_raw                  object
driver_race                      object
violation_raw                    object
violation                        object
search_conducted                 object
search_type_raw                  object
search_type                      object
contraband_found                   bool
stop_outcome                     object
is_arrested                        bool
stop_duration                    object
out_of_state                     object
drugs_related_stop                 bool
district                         object
stop_datetime            datetime64[ns]
dtype: object

In [58]:
ri.reset_index(drop=True)

,id,stop_date,stop_time,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,stop_datetime
0,RI-2005-00001,2005-01-02,01:55,Zone K1,NaN,NaN,600,M,1985.0,20.0,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1,2005-01-02 01:55:00
1,RI-2005-00002,2005-01-02,20:30,Zone X4,NaN,NaN,500,M,1987.0,18.0,...,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4,2005-01-02 20:30:00
2,RI-2005-00004,2005-01-04,12:55,Zone X4,NaN,NaN,500,M,1986.0,19.0,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4,2005-01-04 12:55:00
3,RI-2005-00005,2005-01-06,01:30,Zone X4,NaN,NaN,500,M,1978.0,27.0,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4,2005-01-06 01:30:00
4,RI-2005-00006,2005-01-12,08:05,Zone X1,NaN,NaN,0,M,1973.0,32.0,...,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1,2005-01-12 08:05:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
480579,RI-2015-47061,2015-12-31,22:46,Zone X1,NaN,NaN,0,M,1959.0,56.0,...,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X1,2015-12-31 22:46:00
480580,RI-2015-47062,2015-12-31,22:47,Zone X4,NaN,NaN,500,M,1988.0,27.0,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4,2015-12-31 22:47:00
480581,RI-2015-47063,2015-12-31,23:08,Zone X3,NaN,NaN,200,M,1980.0,35.0,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X3,2015-12-31 23:08:00
480582,RI-2015-47064,2015-12-31,23:44,Zone K2,NaN,NaN,900,M,1984.0,31.0,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K2,2015-12-31 23:44:00
480583,RI-2015-47065,2015-12-31,23:48,Zone K3,NaN,NaN,300,M,1988.0,27.0,...,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3,2015-12-31 23:48:00

In [59]:
ri.set_index('stop_datetime',inplace=True)

In [60]:
ri.head()

,id,stop_date,stop_time,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
stop_datetime,,,,,,,,,,,,,,,,,,,,,
2005-01-02 01:55:00,RI-2005-00001,2005-01-02,01:55,Zone K1,NaN,NaN,600,M,1985.0,20.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
2005-01-02 20:30:00,RI-2005-00002,2005-01-02,20:30,Zone X4,NaN,NaN,500,M,1987.0,18.0,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2005-01-04 12:55:00,RI-2005-00004,2005-01-04,12:55,Zone X4,NaN,NaN,500,M,1986.0,19.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-06 01:30:00,RI-2005-00005,2005-01-06,01:30,Zone X4,NaN,NaN,500,M,1978.0,27.0,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
2005-01-12 08:05:00,RI-2005-00006,2005-01-12,08:05,Zone X1,NaN,NaN,0,M,1973.0,32.0,...,False,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1

**INSTRUCTIONS**

*   Count the unique values in the ``violation`` column, to see what violations are being committed by all drivers.
*   Express the violation counts as proportions of the total.

In [61]:
ri['violation'].unique()

array(['Speeding', 'Equipment', 'Other', 'Moving violation',
       'Registration/plates', 'Seat belt'], dtype=object)

In [62]:
ri.violation.value_counts()

Speeding               268736
Moving violation        90228
Equipment               61250
Other                   24216
Registration/plates     19830
Seat belt               16324
Name: violation, dtype: int64

In [63]:
by_groupvio= ri.groupby('violation').count()

In [64]:
by_groupvio

,id,stop_date,stop_time,location_raw,county_fips,fine_grained_location,police_department,driver_gender,driver_age_raw,driver_age,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
violation,,,,,,,,,,,,,,,,,,,,,
Equipment,61250,61250,61250,61250,0,0,61250,61250,61249,61151,...,61250,3913,3913,61250,61250,61250,61250,61159,61250,61250
Moving violation,90228,90228,90228,90228,0,0,90228,90228,90228,89934,...,90228,4959,4959,90228,90228,90228,90228,90015,90228,90228
Other,24216,24216,24216,24216,0,0,24216,24216,24216,23548,...,24216,1116,1116,24216,24216,24216,24216,24080,24216,24216
Registration/plates,19830,19830,19830,19830,0,0,19830,19830,19830,19805,...,19830,1778,1778,19830,19830,19830,19830,19802,19830,19830
Seat belt,16324,16324,16324,16324,0,0,16324,16324,16324,16317,...,16324,468,468,16324,16324,16324,16324,16297,16324,16324
Speeding,268736,268736,268736,268736,0,0,268736,268736,268736,268191,...,268736,5528,5528,268736,268736,268736,268736,268423,268736,268736

In [65]:
ri.violation.value_counts().sum()

480584

In [22]:
ri.violation.value_counts(normalize=True)

Speeding               0.559186
Moving violation       0.187747
Equipment              0.127449
Other                  0.050389
Registration/plates    0.041262
Seat belt              0.033967
Name: violation, dtype: float64

In [24]:
#Second way of doing the same thing
by_groupvio['violation proportions']= by_groupvio.apply(lambda x:x/(x.sum()))["id"]

In [25]:
by_groupvio[['violation proportions']]

                     violation proportions
violation
Equipment                         0.127449
Moving violation                  0.187747
Other                             0.050389
Registration/plates               0.041262
Seat belt                         0.033967
Speeding                          0.559186

***

## Comparing violations by gender

The question we're trying to answer is whether male and female drivers tend to commit different types of traffic violations.

You'll first create a ``DataFrame`` for each gender, and then analyze the ``violations`` in each ``DataFrame`` separately.

**INSTRUCTIONS**

*   Create a ``DataFrame``, female, that only contains rows in which ``driver_gender`` is ``'F'``.
*   Create a ``DataFrame``, male, that only contains rows in which ``driver_gender`` is ``'M'``.
*   Count the ``violations`` committed by female drivers and express them as proportions.
*   Count the violations committed by male drivers and express them as proportions.

In [66]:
riF=ri.loc[ri['driver_gender']=='F'] #or this code riF= ri[ri.driver_gender == 'F']

In [71]:
riF.violation.value_counts(normalize=True) #First way of doing this

Speeding               0.657308
Moving violation       0.136581
Equipment              0.107055
Registration/plates    0.043077
Other                  0.028908
Seat belt              0.027071
Name: violation, dtype: float64

In [79]:
Fvio=riF.groupby(['violation']).count()  #Second way of doing this
Fvio["Female Violation Proportions"]=Fvio.apply(lambda x: x/x.sum())['id']
Fvio_prop= Fvio[["Female Violation Proportions"]]
Fvio_prop

                     Female Violation Proportions
violation
Equipment                                0.107055
Moving violation                         0.136581
Other                                    0.028908
Registration/plates                      0.043077
Seat belt                                0.027071
Speeding                                 0.657308

In [77]:
riM=ri[ri['driver_gender']== 'M']#First way of doing this
riM.violation.value_counts(normalize=True)

Speeding               0.522364
Moving violation       0.206948
Equipment              0.135102
Other                  0.058450
Registration/plates    0.040581
Seat belt              0.036555
Name: violation, dtype: float64

In [78]:
riM=ri.loc[ri['driver_gender']=='M']#Second way of doing this
Mvio=riM.groupby(['violation']).count()
Mvio["Male Violation Proportions"]=Mvio.apply(lambda x: x/x.sum())['id']
Mvio_prop=Mvio[["Male Violation Proportions"]]
Mvio_prop

                     Male Violation Proportions
violation
Equipment                              0.135102
Moving violation                       0.206948
Other                                  0.058450
Registration/plates                    0.040581
Seat belt                              0.036555
Speeding                               0.522364

***

## Comparing speeding outcomes by gender

When a driver is pulled over for speeding, many people believe that gender has an impact on whether the driver will receive a ticket or a warning. Can you find evidence of this in the dataset?

First, you'll create two ``DataFrames`` of drivers who were stopped for ``speeding``: one containing ***females*** and the other containing ***males***.

Then, for each **gender**, you'll use the ``stop_outcome`` column to calculate what percentage of stops resulted in a ``"Citation"`` (meaning a ticket) versus a ``"Warning"``.

**INSTRUCTIONS**

*   Create a ``DataFrame``, ``female_and_speeding``, that only includes female drivers who were stopped for speeding.
*   Create a ``DataFrame``, ``male_and_speeding``, that only includes male drivers who were stopped for speeding.
*   Count the **stop outcomes** for the female drivers and express them as proportions.
*   Count the **stop outcomes** for the male drivers and express them as proportions.

In [101]:
# First way of doing the same thing 
riFspeeding= ri[(ri.driver_gender == 'F') & (ri.violation  == 'Speeding')]
riFspeeding.stop_outcome.value_counts(normalize=True)

Citation            0.953247
Warning             0.039003
Arrest Driver       0.005290
Arrest Passenger    0.001033
N/D                 0.000905
No Action           0.000522
Name: stop_outcome, dtype: float64

In [87]:
# Second way of doing the same thing 

riFspeeding=ri.loc[(ri["driver_gender"]=="F") & (ri["violation"]=="Speeding")]

In [97]:
Female_stopped=riFspeeding.groupby('stop_outcome').count().apply(lambda x: x/x.sum())['id']
Female_stopped

stop_outcome
Arrest Driver       0.005290
Arrest Passenger    0.001033
Citation            0.953247
N/D                 0.000905
No Action           0.000522
Warning             0.039003
Name: id, dtype: float64

In [95]:
# First way of doing the thing 
riMspeeding= ri[(ri.driver_gender == 'M') & (ri.violation  == 'Speeding')]
riMspeeding.stop_outcome.value_counts(normalize=True)

Citation            0.944636
Warning             0.036086
Arrest Driver       0.015767
Arrest Passenger    0.001265
N/D                 0.001183
No Action           0.001063
Name: stop_outcome, dtype: float64

In [100]:
riMspeeding=ri.loc[(ri["driver_gender"]=="M") & (ri["violation"]=="Speeding")]
Male_stopped=riMspeeding.groupby('stop_outcome').count().apply(lambda x: x/x.sum())['id']
Male_stopped

stop_outcome
Arrest Driver       0.015767
Arrest Passenger    0.001265
Citation            0.944636
N/D                 0.001183
No Action           0.001063
Warning             0.036086
Name: id, dtype: float64

## Calculating the search rate

During a traffic stop, the police officer sometimes conducts a search of the vehicle. In this exercise, you'll calculate the percentage of all stops that result in a vehicle search, also known as the **search rate**.

**INSTRUCTIONS**

*   Check the data type of ``search_conducted`` to confirm that it's a ``Boolean Series``.
*   Calculate the search rate by counting the ``Series`` values and expressing them as proportions.
*   Calculate the search rate by taking the mean of the ``Series``. (It should match the proportion of ``True`` values calculated above.)

In [113]:
print(ri['search_conducted'].dtypes)
ri.search_conducted.value_counts(normalize=True)

bool

False    0.963041
True     0.036959
Name: search_conducted, dtype: float64

In [114]:
ri["search_conducted"].mean()

0.036959199640437465

## Comparing search rates by gender

You'll compare the rates at which **female** and **male** drivers are searched during a traffic stop. Remember that the vehicle search rate across all stops is about **3.8%**.

First, you'll filter the ``DataFrame`` by gender and calculate the search rate for each group separately. Then, you'll perform the same calculation for both genders at once using a ``.groupby()``.

**INSTRUCTIONS 1/3**

*   Filter the ``DataFrame`` to only include **female** drivers, and then calculate the search rate by taking the mean of ``search_conducted``.

In [115]:
SearchF=ri[ri["driver_gender"]=='F']['search_conducted'].mean()
SearchF

0.018751239152648355

**INSTRUCTIONS 2/3**

*   Filter the ``DataFrame`` to only include **male** drivers, and then repeat the search rate calculation.

In [116]:
SearchM=ri[ri["driver_gender"]=='M']['search_conducted'].mean()
SearchM

0.04379217389811301

**INSTRUCTIONS 3/3**

*   Group by driver gender to calculate the search rate for both groups simultaneously. (It should match the previous results.)

In [119]:
ri.groupby('driver_gender')["search_conducted"].mean()

driver_gender
F    0.018751
M    0.043792
Name: search_conducted, dtype: float64

***

## Adding a second factor to the analysis

Even though the search rate for males is much higher than for females, it's possible that the difference is mostly due to a second factor.

For example, you might hypothesize that the search rate varies by violation type, and the difference in search rate between males and females is because they tend to commit different violations.

You can test this hypothesis by examining the search rate for each combination of gender and violation. If the hypothesis was true, you would find that males and females are searched at about the same rate for each violation. Find out below if that's the case!

**INSTRUCTIONS 1/2**

*   Use a ``.groupby()`` to calculate the search rate for each combination of gender and violation. Are males and females searched at about the same rate for each violation?

In [121]:
ri.groupby(['driver_gender','violation'])['search_conducted'].mean()

driver_gender  violation
F              Equipment              0.040245
               Moving violation       0.038021
               Other                  0.045898
               Registration/plates    0.054700
               Seat belt              0.017746
               Speeding               0.007738
M              Equipment              0.070916
               Moving violation       0.059156
               Other                  0.046120
               Registration/plates    0.103589
               Seat belt              0.031705
               Speeding               0.026630
Name: search_conducted, dtype: float64

**INSTRUCTIONS 2/2**

*   Reverse the ordering to group by violation before gender. The results may be easier to compare when presented this way.

In [123]:
ri.groupby(['violation','driver_gender'])['search_conducted'].mean()

violation            driver_gender
Equipment            F                0.040245
                     M                0.070916
Moving violation     F                0.038021
                     M                0.059156
Other                F                0.045898
                     M                0.046120
Registration/plates  F                0.054700
                     M                0.103589
Seat belt            F                0.017746
                     M                0.031705
Speeding             F                0.007738
                     M                0.026630
Name: search_conducted, dtype: float64

***

## Counting protective frisks

During a vehicle search, the police officer may pat down the driver to check if they have a weapon. This is known as a ``"protective frisk."``

You'll first check to see how many times "Protective Frisk" was the only search type. Then, you'll use a string method to locate all instances in which the driver was frisked.

**INSTRUCTIONS**

*   Count the ``search_type`` values to see how many times ``"Protective Frisk"`` was the only search type.
*   Create a new column, frisk, that is ``True`` if ``search_type`` contains the string ``"Protective Frisk"`` and ``False`` otherwise.
*   Check the data type of frisk to confirm that it's a ``Boolean Series``.
*   Take the sum of frisk to count the total number of frisks.

In [124]:
ri.search_type.value_counts()

Incident to Arrest                                          6998
Probable Cause                                              4989
Reasonable Suspicion                                        1141
Inventory                                                   1101
Protective Frisk                                             879
Incident to Arrest,Inventory                                 649
Incident to Arrest,Probable Cause                            552
Probable Cause,Reasonable Suspicion                          334
Probable Cause,Protective Frisk                              221
Incident to Arrest,Protective Frisk                          158
Incident to Arrest,Inventory,Probable Cause                  151
Inventory,Probable Cause                                     132
Protective Frisk,Reasonable Suspicion                         83
Incident to Arrest,Inventory,Protective Frisk                 77
Incident to Arrest,Probable Cause,Protective Frisk            74
Inventory,Protective Frisk                                    52
Incident to Arrest,Reasonable Suspicion                       49
Probable Cause,Protective Frisk,Reasonable Suspicion          31
Incident to Arrest,Probable Cause,Reasonable Suspicion        31
Inventory,Reasonable Suspicion                                17
Inventory,Probable Cause,Protective Frisk                     14
Incident to Arrest,Inventory,Reasonable Suspicion             12
Inventory,Probable Cause,Reasonable Suspicion                  8
Incident to Arrest,Protective Frisk,Reasonable Suspicion       8
Inventory,Protective Frisk,Reasonable Suspicion                1
Name: search_type, dtype: int64

In [126]:
ri['frisk'] = ri.search_type.str.contains('Protective Frisk', na=False)
# fullmatch unable to find 879 ...
ri['frisk']

stop_datetime
2005-01-02 01:55:00    False
2005-01-02 20:30:00    False
2005-01-04 12:55:00    False
2005-01-06 01:30:00    False
2005-01-12 08:05:00    False
                       ...
2015-12-31 22:46:00    False
2015-12-31 22:47:00    False
2015-12-31 23:08:00    False
2015-12-31 23:44:00    False
2015-12-31 23:48:00    False
Name: frisk, Length: 480584, dtype: bool

In [127]:
ri.frisk.dtype

dtype('bool')

In [128]:
ri.frisk.sum()

1598

***

## Comparing frisk rates by gender

You'll compare the rates at which female and male drivers are frisked during a search. Are males frisked more often than females, perhaps because police officers consider them to be higher risk?

Before doing any calculations, it's important to filter the ``DataFrame`` to only include the relevant subset of data, namely stops in which a search was conducted.

**INSTRUCTIONS**

*   Create a ``DataFrame``, searched, that only contains rows in which ``search_conducted`` is ``True``.
*   Take the mean of the frisk column to find out what percentage of searches included a frisk.
*   Calculate the frisk rate for each gender using a ``.groupby()``.

In [131]:
ri[ri['search_conducted']==True]['frisk']

stop_datetime
2005-01-24 20:32:00    False
2005-02-09 03:05:00     True
2005-08-28 01:00:00     True
2005-09-15 02:20:00    False
2005-09-24 02:20:00    False
                       ...
2015-12-28 11:05:00    False
2015-12-30 01:37:00     True
2015-12-30 08:51:00    False
2015-12-30 13:15:00    False
2015-12-30 15:58:00    False
Name: frisk, Length: 17762, dtype: bool

In [132]:
ri[ri['search_conducted']==True]['frisk'].mean()

0.08996734601959239

In [130]:
ri.groupby('driver_gender')['frisk'].mean()

driver_gender
F    0.001251
M    0.004104
Name: frisk, dtype: float64